This page is part of documentation for {{ libname }}

<page path="{{ path }}" name="{{ filename }}">
{{ text }}
</page>

Based on the page above, in this order:
- Come up with a short filename that perfectly encompasses the contents.
    - Keep the original if it's good already. Use the title from frontmatter is present.
    - Don't include the name of the library in the name.
    - If the original starts with a number, don't include it.
- Create a digest of the page.
    - Extract bits that are important to a programmer.
    - Don't include any extra notes. Be concise, no "guide to" or "documentation for", no water.
    - One example per use case max.
    - Don't skip important examples. You can combine 2 or more simple examples into one more complex.
    - Avoid markdown links, describe the target instead of linking.
- More condensed digest (should be useful without reading the full digest).
    - Keep only the most important information.
    - Keep all example though.
- One-line essence of the page contents.
- Is the content you saw relevant to a programmer who is already somewhat familiar with {{ libname }}?
    - Some pages are used to structure the docs and don't contain actual information - they are not relevant by thmselves