Read this file, it's part of the documentation for a library. Then:
- Come up with a short filename that perfectly encompasses the contents. It's ok to keep the original if it's good already.
    Don't incluide the name of the library in the name.
- Then write 3 versions of the summary:
1. Extract bits that are important to a programmer.
    Don't include any extra notes. Be concise.
    One example per use case max. You can combine 2 or more simple examples into one that showcases them all.
2. Shorter summary, keep only the most important bits.
3. One-line summary of the file.
- Decide if the content of this file is relevant to a programmer who is already somewhat familiar with the library in question.

<page {{ filename }}>
{{ text }}
</page>
